<div class="container">
    <div class="web-grid">
        <div class="web">
            <div class="head">
                <div>
                    <h3>Sunder</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/rN90K1T.png" />
            <iframe data-src="https://www.sunderapps.com"></iframe>
            <div>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>FONT-AWESOME 5.7.2</span>
                <span>JS</span>
                <span>JQUERY 3.3.1</span>
                <span>PHOTOSWIPE 4.1.2</span>
                <p>My website!</p>
            </div>
            <hr />
            <h6>February 2019</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Brahctopus</h3>
                    <h4>Freelance</h4>
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/ZW4pl1e.jpg" />
            <iframe data-src="https://www.brahctopus.com"></iframe>
            <div>
                <span>C#</span>
                <span>ASP.NET Core 2.0</span>
                <span>SQUARE CONNECT API</span>
                <span>CODEMONKEY API</span>
                <span>WEBGL</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 4.2.1</span>
                <span>FONT-AWESOME 5.4.1</span>
                <span>JS</span>
                <span>JQUERY 3.3.1</span>
                <span>PHOTOSWIPE 4.1.2</span>
                <p>Official website of local Pittsburgh band, Brahctopus.  Includes an audio visualizer and a video game.</p>
            </div>
            <hr />
            <h6>January 2019</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Unbroken</h3>
                    <h4>Pittsburgh Post-Gazette</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/WThmZ12.png" />
            <iframe data-src="https://newsinteractive.post-gazette.com/pittsburgh-squirrel-hill-synagogue-massacre/"></iframe>
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>FONT-AWESOME</span>
                <span>JS</span>
                <span>JQUERY</span>
                <p>The Tree of Life mass shooting wrought death and anguish, but also fierce resolve.</p>
            </div>
            <hr />
            <h6>November 2018</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Dr. D'Acierno</h3>
                    <h4>Freelance</h4>
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/SP1vSKe.png" />
            <iframe data-src="https://dr.dacierno.com"></iframe>
            <div>
                <span>C#</span>
                <span>ASP.NET Core 2.0</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 4.0.0</span>
                <span>FONT-AWESOME 4.7.0</span>
                <span>JS</span>
                <span>JQUERY 3.2.1</span>
                <p>Homepage of Dr. Dayna D'Acierno, Dr. of Chiropractic.</p>
            </div>
            <hr />
            <h6>July 2018</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Hype Manager</h3>
                    <h4>Pittsburgh Post-Gazette</h4>
                </div>
            </div>
            <img src="https://i.imgur.com/3AfYw6Q.png" />
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>FONT-AWESOME</span>
                <span>JS</span>
                <span>JQUERY</span>
                <p>Organizes and prepares Tumult Hype files for embedding in Post-Gazette NewsSlide.</p>
            </div>
            <hr />
            <h6>June 2018</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>In The Lead 2018</h3>
                    <h4>Pittsburgh Post-Gazette</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/XMjbpy1.jpg" />
            <iframe data-src="https://newsinteractive.post-gazette.com/in-the-lead/"></iframe>
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP</span>
                <span>FONT-AWESOME</span>
                <span>JS</span>
                <span>JQUERY</span>
                <p>Landing page for the Post-Gazette's annual special edition, In The Lead (2018 Edition).</p>
            </div>
            <hr />
            <h6>May 2018</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Amazon HQ2 Landing Page</h3>
                    <h4>Pittsburgh Post-Gazette</h4>
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/RBy03DT.jpg" />
            <iframe data-src="https://newsinteractive.post-gazette.com/hq2/"></iframe>
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 4.0.0</span>
                <span>FONT-AWESOME 4.0.7</span>
                <span>JS</span>
                <span>JQUERY 3.2.1</span>
                <p>The landing page for all of the Post-Gazette's articles about Amazon HQ2 and Pittsburgh.</p>
            </div>
            <hr />
            <h6>March 2018</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Three Rivers, Two Mysteries</h3>
                    <h4>Pittsburgh Post-Gazette</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/EkMMWLz.png" />
            <iframe data-src="https://newsinteractive.post-gazette.com/threeriverstwomysteries/"></iframe>
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP</span>
                <span>FONT-AWESOME</span>
                <span>JS</span>
                <span>JQUERY</span>
                <p>Homepage of the Post-Gazette's 8-part podcast detailing the mystery behind the disappearance of Paul Kochu and Dakota James.</p>
            </div>
            <hr />
            <h6>October 2017</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Dr. D'Acierno</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/fbL3d8e.png" />
            <iframe data-src="https://www.dacierno.com"></iframe>
            <div>
                <span>C#</span>
                <span>ASP.NET 4.5.2</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 3.0.0</span>
                <span>FONT-AWESOME 4.7.0</span>
                <span>JS</span>
                <span>JQUERY 1.10.2</span>
                <p>Listen to D'Acierno's latest EP, "Cato Singles," studio recordings, beats, and videos!</p>
            </div>
            <hr />
            <h6>October 2017</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>T&amp;N Marketing</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>            
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/LgCMvsM.jpg" />
            <iframe data-src="http://www.tandnmarketing.com"></iframe>
            <div>
                <span>C#</span>
                <span>ASP.NET 4.5.2</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 3.0.0</span>
                <span>FONT-AWESOME 4.7.0</span>
                <span>JS</span>
                <span>JQUERY 1.10.2</span>
                <p>Unleash the power of social media marketing!</p>
            </div>
            <hr />
            <h6>February 2017</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>MapMaker</h3>
                    <h4>Pittsburgh Post-Gazette</h4>        
                </div>
            </div>
            <img src="https://i.imgur.com/1VWVrmg.png" />
            <div>
                <span>PHP 5.7</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 3.3.7</span>
                <span>FONT-AWESOME 4.7.0</span>
                <span>JS</span>
                <span>JQUERY 3.2.4</span>
                <span>PAPA PARSE 4.1.2</span>
                <span>FILE SAVER 1.1.3</span>
                <span>LEAFLET 1.0.3</span>
                <span>OPEN STREET MAPS</span>
                <p>Create leaflet.js maps for embedding in Post-Gazette articles.</p>
            </div>
            <hr />
            <h6>October 2017</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Dr. D'Acierno</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/mYu1qbj.png" />
            <iframe data-src="http://www.ztentertainment.com"></iframe>
            <div>
                <span>C#</span>
                <span>ASP.NET 4.5.2</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 3.0.0</span>
                <span>FONT-AWESOME 4.7.0</span>
                <span>JS</span>
                <span>JQUERY 1.10.2</span>
                <p>DJ and Photography/Videography Services for a reasonable price.</p>
            </div>
            <hr />
            <h6>January 2017</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>PharmGenius</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/ne8a3JP.png" />
            <iframe data-src="http://aecs1980qg.appspot.com/"></iframe>
            <div>
                <span>PYTHON 2.7</span>
                <span>DJANGO</span>
                <span>GOOGLE CLOUD SDK</span>
                <span>GOOGLE APP ENGINE</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>BOOTSTRAP 3.3.6</span>
                <span>FONT-AWESOME 4.2.0</span>
                <span>JS</span>
                <span>JQUERY 2.1.3</span>
                <p>An easy, fun way to help pharmacy students learn and study.</p>
            </div>
            <hr />
            <h6>February 2016</h6>
        </div>
        <div class="web">
            <div class="head">
                <div>
                    <h3>Q-Solutions Challenge</h3>
                    <h4>Freelance</h4>        
                </div>
                <div>
                    <input type="radio" name="iframe" value="iframe"/><span></span>
                </div>
            </div>
            <img src="https://i.imgur.com/dsNkgNU.png" />
            <iframe data-src="http://www.q-solutionsgroup.com"></iframe>
            <div>
                <span>VB</span>
                <span>ASP.NET 4.0</span>
                <span>WINDOWS FORMS</span>
                <span>SQL SERVER</span>
                <span>HTML 5</span>
                <span>CSS 3</span>
                <span>TELERIK</span>
                <span>JS</span>
                <p>See how much your call center could save by taking the Q-Solutions Challenge!  This Web page takes information about your call center, then calculates how much money you could save by using the Q-Solution.</p>
            </div>
            <hr />
            <h6>February 2016</h6>
        </div>
    </div>
</div>